						<h2>Asterismはソーシャル機能を利用した次世代のRSSリーダーサービスです。</h2>
						<% if user_signed_in? %>
							<%= link_to "ログアウト", destroy_user_session_path, :method => "DELETE", :class => "btn" %>
						<% else %>
							<div class="row-fluid">
								<div class="span2"></div>
								<div class="span8">
									<%= link_to "ログイン", new_user_session_path, :class => "btn btn-block" %>
								</div>
								<div class="span2"></div>
							</div>
							<div class="row-fluid" style="padding-top: 10px;">
								<div class="span2"></div>
								<div class="span4">
									<%= link_to "facebookでログイン", user_omniauth_authorize_path(:facebook), :class => "btn btn-primary btn-block" %>
								</div>
								<div class="span4">
									<%= link_to "twitterでログイン", user_omniauth_authorize_path(:twitter), :class => "btn btn-info btn-block"  %>
								</div>
								<div class="span2"></div>
							</div>
							<div class="row-fluid" style="padding-top: 10px;">
								<a href="https://github.com/azihsoyn/Asterism/wiki/Usage" target="_usage" class="btn btn-link">使い方を見る</a>
							</div>
							<!--div class="row-fluid" style="padding-top: 10px;">
								<%= link_to "ゲストユーザーで試してみる", user_omniauth_authorize_path(:twitter), :class => "btn btn-link"  %>
							</div--!>
						<% end %>
