<div class="outline">
	<h3><%= link_to entry.title, entry.url, :target => "_blank" %></h3>
	<p><%= entry.author %></p>
	<div class="pull-right"><%= entry.published %></div>
	<% if entry.content == nil %>
		<td><%= entry.summary %></td>
	<% end %>
	<td><%= entry.content.to_s.gsub(/\&lt;!--[\s\S]*?-->/, '').gsub(/<div[\s\S]*?>/, '').gsub(/<\/div>/, '').try(:html_safe) %></td>
		<!--td><%= entry.categories %></td-->
	<hr>
	<div class="row displaySocialButtons">
		<div class="span2" id="entry-star-<%= entry.id %>">
			<% if entry.stared_entries.find_by_user_id(current_user.id) == nil %>
				<%= link_to content_tag(:i, "", :class => "icon-star-empty")+'add star', star_entry_path(entry), :class => "btn btn-mini", :remote => true %>
				<%= link_to content_tag(:i, "", :class => "icon-star")+'remove star', unstar_entry_path(entry), method: :delete, :style => "display:none;", :class => "btn btn-mini", :remote => true %>
			<% else %>
				<%= link_to content_tag(:i, "", :class => "icon-star-empty")+'add star', star_entry_path(entry), :style => "display:none;", :class => "btn btn-mini", :remote => true %>
				<%= link_to content_tag(:i, "", :class => "icon-star")+'remove star', unstar_entry_path(entry), method: :delete, :class => "btn btn-mini", :remote => true %>
			<% end %>
		</div>
		<div class="span2" id="entry-read-<%= entry.id %>">
			<% if entry.read_entries.find_by_user_id(current_user.id) == nil %>
				<%= link_to content_tag(:i, "", :class => "icon-ok")+'finish read', read_entry_path(entry), :class => "btn btn-mini", :remote => true %>
				<%= link_to content_tag(:i, "", :class => "icon-remove")+'remain unread', unread_entry_path(entry), method: :delete, :style => "display:none;", :class => "btn btn-mini", :remote => true %>
			<% else %>
				<%= link_to content_tag(:i, "", :class => "icon-ok")+'finish read', read_entry_path(entry), :style => "display:none;", :class => "btn btn-mini", :remote => true %>
				<%= link_to content_tag(:i, "", :class => "icon-remove")+'remain unread', unread_entry_path(entry), method: :delete, :class => "btn btn-mini", :remote => true %>
			<% end %>
		</div>

		<div class="span2">
			<!-- twitter -->
			<a href="https://twitter.com/share" class="socialite twitter-share" data-text="<%= entry.title %> via http://asterism.so" data-url="<%= entry.url %>" data-lang="ja">ツイート</a>
		</div>
		<div class="span2">
			<!-- facebook like -->
			<div class="socialite facebook-like" data-href="<%= entry.url %>" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
		</div>
		<div class="span2">
			<!-- google plus -->
			<div class="socialite googleplus-one" data-size="medium" data-annotation="inline" data-width="300" data-href="<%= entry.url %>"></div>
		</div>
		<div class="span2">
			<!-- hatena bookmark -->
			<a href="http://b.hatena.ne.jp/entry/<%= entry.url %>" class="hatena-bookmark-button" data-hatena-bookmark-title="Asterism" data-hatena-bookmark-layout="standard-balloon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
		</div>

	</div>
</div>
