<h1>Listing entries</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Url</th>
    <th>Published</th>
    <th>Author</th>
    <th>Summary</th>
    <th>Content</th>
    <th>Feed</th>
    <th>Categories</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @entries.each do |entry| %>
  <tr>
    <td><%= entry.title %></td>
    <td><%= entry.url %></td>
    <td><%= entry.published %></td>
    <td><%= entry.author %></td>
    <td><%= entry.summary %></td>
    <td><%= entry.content %></td>
    <td><%= entry.feed_id %></td>
    <td><%= entry.categories %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Entry', new_entry_path %>
