<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @entry.title %>
</p>

<p>
  <b>Url:</b>
  <%= @entry.url %>
</p>

<p>
  <b>Published:</b>
  <%= @entry.published %>
</p>

<p>
  <b>Author:</b>
  <%= @entry.author %>
</p>

<p>
  <b>Summary:</b>
  <%= @entry.summary %>
</p>

<p>
  <b>Content:</b>
  <%= @entry.content %>
</p>

<p>
  <b>Feed:</b>
  <%= @entry.feed_id %>
</p>

<p>
  <b>Categories:</b>
  <%= @entry.categories %>
</p>


<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
