<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @feed.id %>
</p>

<p>
  <b>Title:</b>
  <%= @feed.title %>
</p>

<p>
  <b>Site url:</b>
  <%= @feed.site_url %>
</p>

<p>
  <b>Feed url:</b>
  <%= @feed.feed_url %>
</p>

<p>
  <b>Etag:</b>
  <%= @feed.etag %>
</p>

<p>
  <b>Last modified:</b>
  <%= @feed.last_modified %>
</p>

<p>
  <b>Created at:</b>
  <%= @feed.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @feed.updated_at %>
</p>


<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
