$('#entries').append('<%= escape_javascript render(@entries) %>');
$("#view_more").replaceWith("<%= escape_javascript(
    link_to_next_page(@entries, 'more', remote: true, id: 'view_more', class: "btn btn-block btn-large")
) %>");
articles = $('.displaySocialButtons');
setTimeout(updateArticles, 100);
