		<footer class="footer">
		
		<div class="container">
			<div class="row social-button">
				<div class="span2"></div>
				<div class="span2">
					<!-- twitter -->
					<a href="https://twitter.com/share" class="socialite twitter-share" data-lang="ja">ツイート</a>
				</div>
				<div class="span2">
					<!-- facebook -->
					<div class="socialite facebook-like" data-href="http://asterism.so" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
				</div>
				<div class="span2">
					<!-- google plus -->
					<div class="socialite googleplus-one" data-size="medium" data-annotation="inline" data-width="300" data-href="http://asterism.so"></div>
				</div>
				<div class="span2">
					<!-- hatena bookmark -->
					<a href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-title="Asterism" data-hatena-bookmark-layout="standard-balloon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
				</div>
				<div class="span2"></div>
			</div>
			<div class="row">
				<div class="span4">
					<ul class="nav nav-list">
						<li class="nav-header">Information</li>
						<li>2013/8/2 リリースしました！</li>
						すべての更新履歴は<a href="https://github.com/azihsoyn/Asterism/wiki/History" target="_history">こちら</a>
						<li class="nav-header">Roadmap</li>
						提供予定機能の一覧は<a href="https://github.com/azihsoyn/Asterism/wiki/Roadmap" target="_roadmap">こちら</a>
					</ul>
				</div>
				<div class="span4">
					<ul class="nav nav-list">
						<li class="nav-header">About</li>
						<li><a href="https://github.com/azihsoyn/Asterism/wiki" target="_about">Asterismについて</a></li>
						<li class="nav-header">about Operator</li>
						<a href="https://twitter.com/azihsoyn" class="socialite twitter-follow" data-show-count="false" data-lang="ja">@azihsoynさんをフォロー</a>
					</ul>
				</div>
				<div class="span4">
					<ul class="nav nav-list">
						<li class="nav-header">Contact</li>
						<address>
							<strong>Mail</strong><br>
							<a href="mailto:support@asterism.so">support@asterism.so</a>
						</address>
						<strong>Twitter</strong><br>
						<a href="https://twitter.com/intent/tweet?screen_name=azihsoyn&text=%E3%80%90%E8%A6%81%E6%9C%9B%E3%80%91" class="socialite twitter-mention" data-lang="ja" data-related="azihsoyn">Tweet to @azihsoyn</a>
						<a href="https://twitter.com/intent/tweet?screen_name=AsterismSupport&text=%E3%80%90%E8%A6%81%E6%9C%9B%E3%80%91" class="socialite twitter-mention" data-lang="ja" data-related="AsterismSupport">Tweet to @AsterismSupport</a>
					</ul>
				</div>
			</div>
		</div>


		<p class="text-center">Copyright &copy; Asterism 2013 All Rights Reserved.</p>
		</footer>
