<h1><% if params[:id] == nil %>All entries<% else %><%= link_to @feed.title, @feed.site_url, :target => "_blank" %> entries<% end %></h1>

<div id="entries">
<%= render @entries %>
</div>

<br />

<% content_for :feed_list do %>
	<% @feeds.each do |feed| %>
		<li class="dropdown <%= 'active' if params[:id] == feed.id.to_s %>" id="feed-<%= feed.id %>">
		<%= link_to content_tag(:img, "", :src => "https://plus.google.com/_/favicon?domain_url="+feed.site_url)+" "+feed.title, feed ,:style => "display:inline-block" %>
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="display:inline-block">
			<!--img src="" class="topBarIcon"-->
			<span><b class="caret"></b></span>
		</a>
		<ul class="dropdown-menu">
			<li><%= link_to content_tag(:i, "", :class => "icon-remove")+"購読解除", unsubscribe_path(feed), :method => "DELETE", :remote => true %></li>
		</ul>
		</li>


	<% end %>
<% end %>

<% content_for :regist do %>
	<%= form_for(@newfeed) do |f| %>
		<% if @newfeed.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@newfeed.errors.count, "error") %> prohibited this feed from being saved:</h2>

				<ul>
					<% @newfeed.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<div class="field">
			<%= f.label :feed_url %><br />
			<%= f.text_field :feed_url, :placeholder => "http://hogehoge.com" %>
			<%= f.submit :class => "btn", :value => "Subscribe" %>
		</div>
	<% end %>
<% end %>
