<p><%= @email %>さん</p>

<p>Asterismにようこそ！</p>

<p>下のリンクをクリックしてアカウント登録を完了してください。</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
